#open-folder-btn {
  border: 2px solid teal;
  color: black;
  height: var(--xlarge);
  overflow: hidden;
  justify-content: center;
}

#open-folder-btn img {
  margin-left: var(--medium);
}

#open-folder-btn div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#apply-changes-btn {
  background-color: teal;
  border: 1px solid teal;
  color: white;
  height: var(--xlarge);
}

#apply-changes-btn * {
  width: 100%;
  text-align: center;
}