#open-folder-btn {
  grid-area: openbtn;
  border: 2px solid teal;
  color: black;
  padding-left: var(--medium);
  padding-right: var(--medium);
}

#apply-changes-btn {
  background-color: teal;
  border: 1px solid teal;
  color: white;
  grid-area: savebtn;
}

#apply-changes-btn * {
  width: 100%;
  text-align: center;
}
