.medium-gap {
  gap: var(--medium);
}

hr {
  appearance: none;
  border-top: 1px solid lightgray;
}

.rounded {
  border-radius: var(--large);
}

.clickable {
  cursor: pointer;
}

.flex-row,
.options-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hover-shadow:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.options-item {
  height: var(--xlarge);
  width: 99%;
}
