.medium-gap {
  gap: var(--medium);
}

hr {
  appearance: none;
  border-top: 1px solid lightgray;
}

.rounded {
  border-radius: var(--large);
}

.clickable {
  cursor: pointer;
}

.flex-row,
.options-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hover-shadow:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.options-item {
  max-height: var(--xlarge);
  width: calc(100% - 2px);
}

.gone {
  display: none;
}

.vertical-rule {
  height: 100%;
  border-left: 1px solid lightgray;
}

.highlighted {
  background-color: #00808050;
}