#options {
  overflow: scroll;
  border: 1px solid lightgrey;
  max-height: fit-content;
  flex-grow: 1000;
  padding: var(--large) var(--medium);
}

#filter-wrapper {
  border: 1px solid lightgrey;
}

#filter {
  border: none;
  appearance: none;
  margin-right: var(--medium);
  flex-grow: 1000;
}

#filter:focus {
  outline: none;
}

#filter-icon {
  padding: var(--medium);
}

#clear-button {
  padding: var(--small);
  width: var(--large);
  height: var(--large);
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
}

#regex-button {
  padding: var(--small);
  width: var(--large);
  height: var(--large);
  text-align: center;
  margin-right: var(--small);
  font-size: 18px;
  font-family: sans-serif;
}

#min-depth-limit {
  flex-grow: 1000;
  padding: var(--small) var(--medium);
  border: 1px solid lightgray;
  border-radius: var(--small);
}

#max-depth-limit {
  flex-grow: 1000;
  padding: var(--small) var(--medium);
  border: 1px solid lightgray;
  border-radius: var(--small);
}