:root {
  /* dimensions */
  --small: 6px;
  --medium: 12px;
  --large: 24px;
  --xlarge: 48px;

  /* fonts */
  --font-family: monospace;
  --font-weight: 375;
  --font-size: 20px;

  --root-border: transparent;

  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  border: 1px solid var(--root-border);
}

*:focus {
  outline: none;
}

#container {
  height: 100vh;
  width: 100vw;
}

#left-pane {
  width: calc(400px + (2 * var(--medium)));
  height: calc(100% - (2 * var(--medium)));
  padding: var(--medium);
}

#right-pane {
  height: calc(100% - (2 * var(--medium)));
  width: calc(100% - 400px - (4 * var(--medium)));
  padding: var(--medium);
}